    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    * {
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
    }
    
    nav {
        list-style-type: none;
        height: 55px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }
    
    nav i {
        margin: 0px 10px;
    }
    
    nav ul li {
        display: flex;
        align-items: center;
    }
    
    .imgBox img {
        width: 0px;
        transition: width 0.5s ease-in-out;
    }
    
    .gamecontainer {
        width: 50%;
        background-color: pink;
        color: rgb(191, 82, 100);
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin: auto;
    }
    
    .gameInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .info {
        font-size: 1.5rem;
    }
    
    #reset {
        display: block;
        margin: 20px auto;
        font-size: 2rem;
        padding: 1vh 5vw;
        background-color: #fff;
        border-radius: 7px;
        cursor: pointer;
    }
    
    #reset:hover {
        background-color: rgb(255, 208, 216);
    }
    
    .container {
        display: grid;
        grid-template-columns: repeat(3, 10vw);
        grid-template-rows: repeat(3, 10vw);
        margin: auto;
        position: relative;
    }
    
    .box {
        border: 2px solid black;
        font-size: 10vw;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .box:hover {
        background-color: rgb(253, 158, 174);
    }
    
    .gameInfo {
        padding: 10px;
    }
    
    .line {
        background-color: rgb(123, 3, 23);
        height: 5px;
        position: absolute;
        transition: width 1s ease-in-out;
        width: 0vw;
    }
    
    @media only screen and (max-width: 1000px) {
        .gamecontainer {
            width: 80%;
            height: 40vh;
        }
    }
    
    .br-0 {
        border-right: 0;
    }
    
    .bl-0 {
        border-left: 0;
    }
    
    .bt-0 {
        border-top: 0;
    }
    
    .bb-0 {
        border-bottom: 0;
    }